
      <tr>
        <td>{{account_text}}</td>
        <td>{{desc_text}}</td>
        <td>{{bac_text}}</td>
        <td>{{acwp_text}}</td>
        <td>{{working_acwp_text}}</td>
        <td>{{bcwp_text}}</td>
      </tr>
     